@import 'partials/colours';

$aside_width: 140px;
$mobile_switch: 820px;

.generic_photo {
  max-width: 450px;
  margin: 8px 16px 12px 0;
  background-color: $pink1;
  position: relative;
  box-shadow: 4px 4px 8px 0 rgba(75, 75, 75, 0.75);

  img {
    width: 100%;
    margin-bottom: -4px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    @media print {
      max-width: 320px;
    }
  }

  figcaption {
    position: absolute;
    bottom: 4px;
    left: 4px;
    margin: 0;
    color: white;
  }

}

.generic_photo.right_aligned {
  float: right;
  margin-left: 12px;
  margin-right: 0;

  img {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }

  figcaption {
    right: 4px;
  }
}

.modal-box.open-modal{
  transform: scaleY(1);
}

.modal-box{
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(75, 75, 75, 0.85);
  transform: scaleY(0);
  transition: all ease-in-out 250ms;

  .close-button {
    z-index: 11;
    position: absolute;
    right: 2%;
    top: 4%;
    width: 48px;
    height: 48px;
    opacity: 1;
    background-color: white;
    border-radius: 50%;
  }
  //.close-button:hover {
  //  opacity: 0.5;
  //}
  .close-button:before, .close-button:after {
    position: absolute;
    left: 23px;
    top: 7px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #1e1e1e;
  }
  .close-button:before {
    transform: rotate(45deg);
  }
  .close-button:after {
    transform: rotate(-45deg);
  }


  .image-modal-container {
    position: absolute;
    top: 5%;
    bottom: 10%;
    right: 5%;
    left: 5%;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 100%;
      clip-path: none;
    }

    figcaption {
      color: white;
      font-weight: bold;
    }
  }
}



.bottom_bar {
  clear: both;
}

.table-container {
  width: 100%;
  height: 100%;

  table {
    margin: 0 auto;

    caption {
      caption-side: bottom;
      margin-top: 4px;
      color: $pink1;
      font-weight: bold;
    }

    tr {
      background-color: rgb(243, 163, 205);
    }

    tr.alt {
      background-color: rgb(249, 209, 230);
    }

    td, th {
      padding: 2px 6px;
      margin: 0;
      border: none;
      width: 240px;
      text-align: left;
    }

    th {
      color: white;
      background-color: $pink1;
    }
  }
}

.folder-tree {
  overflow: hidden;
  width: 320px;
  float: left;
  padding: 4px;
  margin-top: 8px;
  margin-right: 16px;

  p.caption {
    margin: 4px 0 0 4px;
    font-size: 14px;
    font-style: italic;
    color: $pink2;
  }

  .fas {
    color: $teal3;
  }

  .fab {
    color: $teal3;
  }

  .fa-python {
    color: #FFD43B;
  }

  ul {
    margin: 0;
    list-style: none;
    line-height: 1.5em;
    //font-family: Arial;

    li {
      font-size: 16px;
      position: relative;

      i {
        margin-right: 4px;
      }

      &:before {
        position: absolute;
        left: -15px;
        top: 0;
        content: '';
        display: block;
        border-left: 1px solid $teal4;
        height: 1em;
        border-bottom: 1px solid $teal4;
        width: 10px;
      }

      &:after {
        position: absolute;
        left: -15px;
        bottom: -7px;
        content: '';
        display: block;
        border-left: 1px solid $teal4;
        height: 100%;
      }

      &.root {
        margin: 0 0 0 -20px;
        font-weight: bold;

        &:before {
          display: none;
        }

        &:after {
          display: none;
        }
      }

      &:last-child {
        &:after {
          display: none
        }
      }
    }

    li.grayed {
      color: gray;
    }
  }
}