doctype html
html(lang="en")
    head
        include includes/head.pug
    body
        header
            include includes/header.pug
        nav
            .hamburger(onclick="myFunction()")
                .hamburger-bar
                .hamburger-bar
                .hamburger-bar

            ul#nav-list.nav-list
                li
                    a(href="index.html") Home
                li
                    a(href="projects.html") Projects
                li
                    a(href="#") Experiments
                li
                    a(href="gallery.html") Gallery
                li
                    a(class="nav_active" href="about.html") About
                li
                    a(href="contact.html") Contact
        aside.left
            include includes/left_aside.pug
        aside.right
            include includes/right_aside.pug
        main
            article
                section
                    h1 Who am I?
                    figure
                        img(src="assets/img/profile_photo.jpg" alt="profile picture" width="400" height="400")
                        figcaption It's me
                    p
                        | I'm a graduate student in industrial automation at
                        | <a href="https://www.hogent.be/en/" target="_blank">HoGent</a>.
                        br
                        | Planning on studying computer science next year. Currently I am working on my thesis.
                        | My thesis is focused around improving the practical side of our education and linking the
                        | subjects together and to the real world.
                        br
                        | You can read more about my <a href="projects.html">thesis</a> here.
                    p
                        | I am passionate about learning and teaching, in fact it is my dream to become a teacher one
                        | day.
                        br
                        | I am a big supporter of (open) education and the open-source movement. I will document
                        | all the personal projects that I start (and finish) here. I will document them, whether they
                        | will be successful or not. They might form an inspiration or the basis for someone else.
                        | Perhaps I will find the solution at a later time, or someone will suggest it to me. We can
                        | all learn from each other and we all have something that we can teach others. That is the
                        | mindset behind this website.
                    p
                        | I am enormously interested in computer and technology, especially when it is vintage
                        | (or antique). A lot of projects will be focused around that subject. I also like to work with
                        | purely digital electronics and discrete electronics. One of the projects I will start first
                        | is going to be a DIY computer using logic chips.
                    p
                        | I also like to work with more modern platforms. My favourite being Raspberry Pi and Python.
                        | I have experience with other platforms as well, and will use those in projects too. All in
                        | all, there should be a nice variety of projects to come (or already here).
                    p
                        | If you want to help out, have an idea, or work together; the easiest way to get in touch is
                        | to fill out the <a href="contact.html">contact form</a> on the contact page.
                        | Alternatively you can use any of the social media links found below.
        footer
            include includes/footer.pug