doctype html
html(lang="en")
    head
        include includes/head.pug
    body
        header
            include includes/header.pug
        nav
            #hamburger.hamburger(onclick="hamburgerNav()")
                #h-bar1.hamburger-bar
                #h-bar2.hamburger-bar
                #h-bar3.hamburger-bar

            ul#nav-list.nav-list
                li
                    a(href="index.html") Home
                li
                    a(href="projects.html") Projects
                li
                    a(href="https://pcassima.github.io/Experiments") Experiments
                li
                    a(class="nav_active" href="gallery.html") Gallery
                li
                    a(href="about.html") About
                li
                    a(href="contact.html") Contact
        //aside.left
        //    include includes/left_aside.pug
        //aside.right
        //    include includes/right_aside.pug
        main
            article
                h1 Gallery
                section
                    h2 Projects
                    p
                        | Some royalty free images, used as filler, to test the layout and styling:
                    .gallery_container
                        figure
                            img(src="https://unsplash.it/640/512?random" alt="image 1")
                            figcaption
                                a(href="#") Figure 1
                                br
                                | &copy; 2019
                        figure
                            img(src="https://unsplash.it/640/512?random" alt="image 2")
                            figcaption
                                a(href="#") Figure 2
                                br
                                | &copy; 2019
                        figure
                            img(src="https://unsplash.it/640/512?random" alt="image 3")
                            figcaption
                                a(href="#") Figure 3
                                br
                                | &copy; 2019
                        figure
                            img(src="https://unsplash.it/640/512?random" alt="image 4")
                            figcaption
                                a(href="#") Figure 4
                                br
                                | &copy; 2019
                        figure
                            img(src="https://unsplash.it/640/512?random" alt="image 5")
                            figcaption
                                a(href="#") Figure 5
                                br
                                | &copy; 2019
                        figure
                            img(src="https://unsplash.it/640/512?random" alt="image 6")
                            figcaption
                                a(href="#") Figure 6
                                br
                                | &copy; 2019
                        figure
                            img(src="https://unsplash.it/640/512?random" alt="image 7")
                            figcaption
                                a(href="#") Figure 7
                                br
                                | &copy; 2019
                        figure
                            img(src="https://unsplash.it/640/512?random" alt="image 8")
                            figcaption
                                a(href="#") Figure 8
                                br
                                | &copy; 2019
                section
                    h2 Other photos
