doctype html
html(lang="en")

    head
        include includes/head.pug

    body
        header
            include includes/header.pug

        nav
            .hamburger(onclick="myFunction()")
                .hamburger-bar
                .hamburger-bar
                .hamburger-bar

            ul#nav-list.nav-list
                li
                    a(class="nav_active" href="index.html") Home
                li
                    a(href="projects.html") Projects
                li
                    a(href="https://pcassima.github.io/Experiments") Experiments
                li
                    a(href="gallery.html") Gallery
                li
                    a(href="about.html") About
                li
                    a(href="contact.html") Contact

        //aside.left
        //    include includes/left_aside.pug
        //aside.right
        //    include includes/right_aside.pug
        main
            article
                h1 Welcome
                section
                    h2 Why did I make this website?
                    p
                        | The main motivation behind creating this website, was to learn web development. I use this
                        | website to learn HTML, CSS, javascript and more.
                        br
                        | However while working on this website and thinking about the content to place here, I quickly
                        | realized that it would be a good idea, opportunity and motivation to use this website as a
                        | place to house the documentation for all my personal projects.
                        | This will thus be the main purpose of this website, to provide the documentation for my
                        | personal projects, along with the files hosted on GitHub. A short description of my projects,
                        | along with a link to the relevant page, can be found on the
                        a(href="projects.html")  projects
                        |  page.
                    p
                        | The website for each project will be housed in the <var>docs</var> folder in the
                        | project repository on GitHub. However I hope to keep the design the same across these
                        | different websites and repositories, in order to keep the transition from one site to another
                        | as smooth as possible. Perhaps even hiding the transition.
                section
                    h2 Who am I?
                    p
                        | If you want to know more about me you can head over to the about section on this website:
                        a(href="about.html")  about me
                        | .
                section
                    h2 What will you find here?
                    p
                        | This website will house a lot of information; This is divided into several sections.
                    p
                        | The first section is all about the different projects that I have done.
                        | Each project will have its own page documenting the requirements, the build steps and all
                        | related information.
                        br
                        | They are formatted as a step by step guide on how to make the project yourself.
                    a(href="projects.html") Projects
                    p
                        | The second section is called experiments, this is for projects that I don't know much about
                        | yet or that I am not sure will 100% work out the way they are supposed.
                        br
                        | Those will be formatted more as a "learn with me".
                    a(href="#") Experiments
                    p
                        | The last section is all about tutorials.
                        | These are completely stand-alone pieces that are meant to show how to do a certain thing.
                        br
                        | My tutorials I will write over on Instructables.
                    a(href="https://www.instructables.com/member/Pieter-Jan%20Cassiman/" target="_blank") Tutorials
        footer
            include includes/footer.pug