doctype html
html
    head
        include includes/head.pug
    body
        header
            include includes/header.pug
        nav
            .hamburger(onclick="myFunction()")
                .hamburger-bar
                .hamburger-bar
                .hamburger-bar

            ul#nav-list.nav-list
                li
                    a(href="index.html") Home
                li
                    a(class="nav_active" href="projects.html") Projects
                li
                    a(href="#") Experiments
                li
                    a(href="gallery.html") Gallery
                li
                    a(href="about.html") About
                li
                    a(href="contact.html") Contact
        aside.left
            include includes/left_aside.pug
        aside.right
            include includes/right_aside.pug
        main
            article
                h1 Projects
                ul
                    li
                        a(href="#active_projects") Active Projects
                    li
                        a(href="#planned_projects") Planned Projects
                    li
                        a(href="#past_projects") Past Projects
                section(id="active_projects")
                    h2 Active projects
                    h3 My Thesis
                    p
                        | I am currently writing my thesis for my bachelor's degree in industrial automation.
                    p
                        | Currently I do not yet know, if I will be allowed to write publicly about it. As soon as
                        | I know more I will update this page and add the relevant information about it.
                    h3 LINAL
                section(id="planned_projects")
                    h2 Planned projects
                    h3 DLC
                    p
                        | I am planning on building a fully operational 8-bit computer, out of nothing but logic
                        | IC's from the 74-series.
                        | The entire process will be documented both with written articles and videos on YouTube.
                        | The written articles will contain more information than the videos. The articles are
                        | meant as an follow-along to the videos.
                        | The videos themselves will be formatted as lectures.
                    p
                        | More information about the project can be found here:
                        a(href="https://pcassima.github.io/DLC/" target="_blank")  DLC
                    h3 Other ideas
                    p These are some ideas that are waiting to be started.
                    ul.fa-ul
                        li
                            span.fa-li
                                i(class="fas fa-caret-right")
                            | A series about computer vision on the Raspberry Pi
                        li
                            span.fa-li
                                i(class="fas fa-caret-right")
                            | A linefollower with a raspberry pi (IR sensors)
                        li
                            span.fa-li
                                i(class="fas fa-caret-right")
                            | A linefollower with computer vision
                        li
                            span.fa-li
                                i(class="fas fa-caret-right")
                            | Arduino RS-232 with flow control
                        li
                            span.fa-li
                                i(class="fas fa-caret-right")
                            | DIY serial terminal
                        li
                            span.fa-li
                                i(class="fas fa-caret-right")
                            | Discrete hardware serial implementation
                        li
                            span.fa-li
                                i(class="fas fa-caret-right")
                            | Handheld game console (RGB-matrix en Pycom/Teensy)

                section(id="past_projects")
                    h2 Past projects

        footer
            include includes/footer.pug