doctype html
html
    head
        include includes/head.pug
    body
        header
            include includes/header.pug
        nav
            #hamburger.hamburger(onclick="hamburgerNav()")
                #h-bar1.hamburger-bar
                #h-bar2.hamburger-bar
                #h-bar3.hamburger-bar

            ul#nav-list.nav-list
                li
                    a(href="index.html") Home
                li
                    a(class="nav_active" href="projects.html") Projects
                li
                    a(href="https://pcassima.github.io/Experiments") Experiments
                li
                    a(href="gallery.html") Gallery
                li
                    a(href="about.html") About
                li
                    a(href="contact.html") Contact
        //aside.left
        //    include includes/left_aside.pug
        //aside.right
        //    include includes/right_aside.pug
        main
            article
                h1 Projects
                section
                    p
                        | Projects are fully worked out things to build or make.
                        | These have been completely documented from start to finish and include all documentation
                        | to remake the same project for yourself.
                    ul.fa-ul
                        li
                            span.fa-li
                                i(class="fas fa-chevron-right")
                            a(href="#active_projects") Active Projects
                            p
                                | These are projects that I am currently working on. Feel free to check them out.
                        li
                            span.fa-li
                                i(class="fas fa-chevron-right")
                            a(href="#future_projects") Future Projects
                            p
                                | These are the projects that are still a concept or an idea. I hope to start on these soon.

                        li
                            span.fa-li
                                i(class="fas fa-chevron-right")
                            a(href="#past_projects") Past Projects
                            p
                                | These are projects have been completed and have all their documentation written. These
                                | can be considered as an archive.

                section#active_projects
                    h2 Active projects
                    h3 My Thesis
                    p
                        | This is the complete documentation for my Bachelor's thesis to obtain a Bachelor's degree in
                        | <em>Industrial Automation</em>. We worked out a proof-of-concept to show that a
                        | computer-vision system can be used to position objects accurately. So that they can be
                        | transferred to a virtual-reality environment.
                    p
                        | The page for the project can be found at:
                        a(href="https://pcassima.github.io/thesis_hogent/" target="_blank")  thesis
                    h3 LINAL
                section#future_projects
                    h2 Future projects
                    h3 Planned projects
                    h4 DLC
                    p
                        | I am planning on building a fully operational 8-bit computer, out of nothing but logic
                        | IC's from the 74-series.
                        | The entire process will be documented both with written articles and videos on YouTube.
                        | The written articles will contain more information than the videos. The articles are
                        | meant as an follow-along to the videos.
                        | The videos themselves will be formatted as lectures.
                    p
                        | More information about the project can be found here:
                        a(href="https://pcassima.github.io/DLC/" target="_blank")  DLC
                    h3 Project ideas
                    p
                        | These are some ideas for projects that I have, but that haven't been started yet, or are
                        | just a concept still.
                    p
                        | If you prefer one of these projects over the others, you can contact me to have the
                        | project boosted.
                    ul.fa-ul
                        li
                            span.fa-li
                                i(class="fas fa-caret-right")
                            | RAAV - The <b>R</b>aspberry-Pi <b>A</b>rduino <b>A</b>utonomous <b>V</b>ehicle
                        li
                            span.fa-li
                                i(class="fas fa-caret-right")
                            | A series about computer vision on the raspberry pi
                        li
                            span.fa-li
                                i(class="fas fa-caret-right")
                            | A fast linefollower (using Arduino, Teensy or Pycom) with PID
                        li
                            span.fa-li
                                i(class="fas fa-caret-right")
                            | Arduino RS-232 with flow control
                        li
                            span.fa-li
                                i(class="fas fa-caret-right")
                            | DIY serial terminal
                        li
                            span.fa-li
                                i(class="fas fa-caret-right")
                            | Discrete hardware serial implementation
                        li
                            span.fa-li
                                i(class="fas fa-caret-right")
                            | Handheld game console (RGB-matrix en Pycom/Teensy)
                section#past_projects
                    h2 Past projects
                    p
                        | Currently there are no past projects yet.
            article
                h1 Tutorials
                p
                    | Small structured pieces, to help you learn or explain things.
        footer
            include includes/footer.pug