//- Provides the head of the page (with all the relevant references to stylesheets etc.)
<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-139853560-3")
script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'UA-139853560-3');

meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="author" content="Pieter-Jan Cassiman")
meta(name="description" content="My corner of the internet")
title My personal page
link(rel="icon" type="image/png" href="assets/img/favicon.png")
link(rel="stylesheet" type="text/css" href="assets/css/main.css")
link(rel="stylesheet" type="text/css" href="assets/css/additional.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
script(src="./js/nav.js")
script(src="./js/modal.js")